.container{
    width: auto;
}


.name{
    padding-top: 124px;
    padding-left: 169px;
    width: 708px;
    height: 446px;
    text-align: left;
    font: normal normal 100 161px/163px Avenir;
    letter-spacing: 14.2px;
    color: #FFFFFF;
    opacity: 1;
}

.namejp{
    padding-top: 20px;
    padding-left: 170px;
    width: 265px;
    height: 107px;
    text-align: left;
    font: normal normal normal 48px/5px Avenir;
    letter-spacing: 5px;
    color: #FFFFFF;
    opacity: 1;
}

.job{
    padding-top: 5px;
    padding-left: 150px;
    width: 696px;
    height: 67px;
    text-align: left;
    font: normal normal normal 43px/18px Avenir;
    letter-spacing: 5px;
    color: #FFFFFF;
    opacity: 1;
}

.woman img{
    padding-top: 95px;
    padding-left: 738px;
    width: 500px;
    height: 500px;
    opacity: 1;
}
.iconleft img{
    padding-top: 20px;
    padding-left: 19px;
    width: 62px;
    height: 59px;
    text-align: left;
}

.iconright img {
    padding-top: 19px;
    padding-left: 1827px;
    width: 84px;
    height: 61px;
    text-align: right;
}